@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: repeating-linear-gradient(
    135deg,
    #ffc0cb,
    #ffc0cb 70px,
    #fca7b4 70px,
    #fca7b4 140px
  );
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  max-width: 50rem;
  width: 100%;
  background-color: rgb(167, 251, 223);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  z-index: 1;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card h1 {
  font-family: "Dancing Script", cursive;
  margin-bottom: 1rem;
}

.card p {
  color: #374151;
  line-height: 1.8rem;
  letter-spacing: 0.015rem;
  word-spacing: 0.15rem;
  position: relative;
  z-index: 2;
    font-family: "Roboto Mono", monospace;

}

.card img {
      width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
  --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
             mask-border: var(--_m);
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.heart {
  --c: red;
  width: 150px;
  aspect-ratio: 1;
  background: radial-gradient(circle at 60% 65%, var(--c) 64%, #0000 65%) top
      left/50% 50%,
    radial-gradient(circle at 40% 65%, var(--c) 64%, #0000 65%) top right/50%
      50%,
    conic-gradient(from -45deg at 50% 85.5%, var(--c) 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
}


.heart1 {
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  right: -5rem;
  top: -5rem;
}

.heart2 {
  z-index: 1;
  transform: rotate(-135deg);
  position: absolute;
  bottom: -5rem;
  left: -5rem;
}

@media screen and (max-width: 750px) {
  .card {
    margin: 1rem;
    padding: 1rem;
  }
  .heart1 {
    right: -2.5rem;
    top: -2.5rem;
  }
  .heart2 {
    bottom: -2.5rem;
    left: -2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .heart {
    width: 100px;
  }
  .heart1 {
    right: -1.5rem;
    top: -1.5rem;
  }
  .heart2 {
    bottom: -1.5rem;
    left: -1.5rem;
  }
}
